* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
}

nav {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

menu {
    display: flex;
}

menu a:link,
menu a:visited {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10.5px;
    transition: .3s;
    color: #fafafa;
}

menu a:hover {
    background-color: #40424a;
}

section {
    width: 100%;
    position: relative;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}

#Inicio h1 {
    width: 400px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100px;
    color: #fafafa;
    font-size: 64px;
    text-transform: uppercase;
    line-height: 47px;
}

#Inicio h1 span {
    color: #e7a10d;
    font-size: 70px;
    margin-left: 20px;
}

#inicio .lama {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: flex-end;
}

#inicio .lama img {
    width: 100%;
}

.galeria {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}

.galeria h2 {
    width: 100%;
    font-size: 48px;
    text-transform: uppercase;
}

.thumbs {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.thumb {
    width: 200px;
    height: 100px;
}

.thumb img {
    width: 100%;
}

.large {
    width: 630px;
    border: 2px purple;
}

.img-large {
    width: 100%;
}

.img-large img {
    width: 100%;
}

#Galeria {
    background-color: #404040;
}